name: Remove old artifacts

on:
  schedule:
    - cron: '0 1 * * *' # Every day at 1am

jobs:
  remove-old-artifacts:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Remove old artifacts
        uses: c-hive/gha-remove-artifacts@v1
        with:
          age: '2 weeks'
          skip-recent: 5